<div class="items">
  <div *ngFor="let item of itemList" class="item">
    <p>Nume: {{ item.name }}</p>
    <p>Descriere: {{ item.category }}</p>
    <p>Cantitate: {{ item.number }}</p>
    <div class="buttons">
      <button class="cardButton" (click)="deleteItem(item.id)">D</button>
      <button class="cardButton" (click)="openDialog(item.id)">E</button>
    </div>
  </div>

  <div class="item" id="newItemCard">
    <button class="cardButton" id="newItemButton" (click)="openDialog(0)">Add New Item</button>
  </div>
</div>
