///////////////////////////////////////////////////////////////
///                          CARD                           ///
///////////////////////////////////////////////////////////////

.items {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media only screen and (max-width: 1500px) {
  .items {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 1200px) {
  .items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 875px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 575px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 7rem;
  }
}

.item {
  display: block;
  padding: 0;
  margin: 1rem;
  background: #ffeb3b31;
  border-radius: 25px;
  height: 300px;
  width: 260px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px;
  transition: all 0.3s ease-in-out;
}
.item:hover {
  box-shadow: rgba(0, 0, 0, 0.22) 0px 20px 20px;
  transform: translate3d(0px, -1px, 0px);
}

p {
  text-align: center;
  position: relative;
  font-size: 20px;
  top: 1rem;
}

#newItemCard {
  position: relative;
  text-align: center;
}

///////////////////////////////////////////////////////////////
///                         BUTTON                          ///
///////////////////////////////////////////////////////////////

.cardButton {
  border: 1px solid #2980b9;
  background: none;
  padding: 0.5rem 1rem;
  margin-top: 45%;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.8s;
  color: #2980b9;
  position: relative;
  overflow: hidden;
}

.cardButton:hover {
  color: #fff;
}

.cardButton::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #2980b9;
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}

.cardButton:hover::before {
  height: 180%;
}

.buttons{
  text-align: center;
}

#newItemButton{
  top:32%;
}

///////////////////////////////////////////////////////////////
///                       SCROLLBAR                         ///
///////////////////////////////////////////////////////////////

::-webkit-scrollbar{
  width: 0.75rem;
}
::-webkit-scrollbar-track{
  background: #24252a;
}
::-webkit-scrollbar-thumb{
  background: grey;
  border:0.25em solid #24252a;
}

::-webkit-scrollbar-thumb:hover{
  background: rgb(150, 150, 150);
}